#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
}
#navbar h2 {
  background-color: #f7d354;
  border-radius: 1rem;
  padding: 1px 11px;
}
#navbar h2 a {
  display: flex;
  align-items: center;
  color: black;
  gap: 10px;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  padding: 9px;
  border-radius: 10px;
  border: none;
  outline: none;
}
@media (max-width: 576px) {
  #root {
    text-align: center;
  }
  #navbar {
    flex-direction: column;
    gap: 1rem;
  }
  #navbar h2 {
    padding: 7px 23px;
  }
}
