@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-yellow: #f7d354;
  --color-darkYellow: #b8930c;
  --color-white: #fff;
}

body {
  background-color: black;
  color: var(--color-white);
  min-width: 499px;
}

.content{
  padding: 0 1rem;
}

.title {
  text-align: center;
  margin: 3rem 0;
  font-weight: bolder;
}

.ul-style {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
}
.li-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.li-style img {
  width: 70%;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.li-style img:hover {
  transform: scale(1.1);
}

.li-style span {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 1.4rem 0;
  width: 70%;
}
.li-style a {
  width: 70%;
  background-color: #f7d354;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 1rem;
  transition: 0.3s all;
  text-decoration: none;
  text-align: center;
}
.li-style a:hover {
  transform: scale(0.9);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  min-height: 80vh;
}
.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.card-details .image {
  height: auto;
  margin-bottom: 20px;
}

.card-details .image img {
  margin: 0;
  width: 100%;
}
button {
  border: none;
  outline: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: black;
  color: #b8930c;
  font-weight: bold;
  font-size: 1.4rem;
}
@media (max-width:576px) {
  .content{
    padding: 0;
  }  
}