@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-yellow: #f7d354;
  --color-darkYellow: #b8930c;
  --color-white: #fff;
}

body {
  background-color: black;
  color: var(--color-white);
  min-width: 365px;
}

.content {
  padding: 0 1rem;
  margin: 0 auto;
}

.exit {
  width: fit-content;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-weight: bolder;
}

.ul-style {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
}
.li-style {
  max-height: 650px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.li-style img {
  height: 70%;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.li-style img:hover {
  transform: scale(1.1);
}

.li-style span {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 1.4rem 0;
  width: 100%;
}
.li-style a {
  width: 100%;
  background-color: var(--color-yellow);
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 1rem;
  transition: 0.3s all;
  text-decoration: none;
  text-align: center;
}
.li-style a:hover {
  transform: scale(0.9);
}

.main-details {
  max-height: 100vh;
  width: 100%;
}

.main-details > section {
  margin: 0 auto;
  max-width: 50%;
}

.main-details > section .max-w {
  max-width: 40%;
}

button {
  border: none;
  outline: transparent;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: black;
  color: var(--color-darkYellow);
  font-weight: bold;
  font-size: 1.4rem;
}
.center {
  min-width: 500px;
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

button > a:hover {
  opacity: 0.8;
  color: black;
}

.error{
  color: red;
  padding: 16px 0px;
  
}

@media (max-width: 1441px) {
  .li-style {
    padding: 0 2.5rem;
  }
}

@media (max-width: 1251px) {
  .main-details > #CardContainer {
    max-width: 35%;
  }
  .main-details > #CardContainer .max-w {
    max-width: 100%;
    height: 100%;
  }
}

@media (max-width: 931px) {
  .main-details > #CardContainer {
    max-height: 15vh;
  }
  .main-details > #CardContainer .max-w {
    max-width: 100%;
    height: 100%;
  }
}

@media (max-width: 843px) {
  .main-details {
    margin-bottom: 2rem;
    max-height: 100vh;
  }
  .main-details > #CardContainer {
    max-width: 50%;
  }
}

@media (max-width: 780px) {
  .ul-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .main-details > #CardContainer {
    max-width: 70%;
  }
  .main-details > #CardContainer .max-w {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .content {
    padding: 0;
  }
  .li-style {
    flex: 1;
    padding: 0 1.7rem;
  }
  .main-details > #CardContainer {
    max-width: 70%;
  }
}
